name: code-quality

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  code-quality:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display python version
      run: python -c "import sys; print(sys.version)"
    - name: Install package dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r build_tools/requirements.txt
    - name: Check code quality
      run: |
        black --skip-string-normalization --check --config pyproject.toml ./
        chmod +x "${GITHUB_WORKSPACE}/build_tools/linting.sh"
        ./build_tools/linting.sh
